<% content_for(:ops_content) do %>
<section class="view-ops-seller-applications-list">
  <div class="column-set">
    <aside>
      <h1>Seller applications</h1>

      <%= render partial: 'ops/shared/filters', locals: { search: search } %>
    </aside>

    <div class="current-view">
      <section class="record-list">
        <header>
          <h2><%= pluralize(search.result_count, 'application') %></h2>
          <% if search.results.any? %>
            <div class="list-actions">
              <%= link_to(
                    t(:export_csv, scope: [:ops, :seller_versions, :search, :labels]),
                    ops_seller_applications_path({ format: :csv }.merge(search.selected_filters)),
                  ) %>
            </div>
          <% end %>
        </header>

        <%= render partial: 'list', locals: {
              search: search,
              applications: search.paginated_results,
            } %>
        <%= paginate search.paginated_results %>
      </section>
    </div>
  </div>
</section>
<% end %>
