<% content_for :title, 'Performance' %>

<section class="view-performance-index">
  <h1><%= content_for :title %></h1>

  <section class="application-count">
    <header>
      <h1>Seller applications</h1>
      <p>Applications to join <strong>buy.nsw</strong> as a seller.</p>
    </header>
    <ul>
      <li>
        <em class="big-number"><%= seller_application_started_count %></em>
        applications started
      </li>
      <li>
        <em class="big-number"><%= seller_application_in_review_count %></em>
        in review
      </li>
      <li>
        <em class="big-number"><%= seller_application_approved_count %></em>
        sellers approved
      </li>
    </ul>
  </section>

  <section class="application-count">
    <header>
      <h1>Buyer applications</h1>
      <p>Applications to join <strong>buy.nsw</strong> as a buyer.</p>
    </header>
    <ul>
      <li>
        <em class="big-number"><%= buyer_application_started_count %></em>
        applications started
      </li>
      <li>
        <em class="big-number"><%= buyer_application_in_review_count %></em>
        in review
      </li>
      <li>
        <em class="big-number"><%= buyer_application_approved_count %></em>
        buyers approved
      </li>
    </ul>
  </section>
</section>
