<% content_for :title, 'Seller applications: performance' %>

<section class="view-performance-seller-applications">
  <h1><%= content_for :title %></h1>

  <p class="intro-statistic">
    <em class="big-number"><%= seller_application_started_count %></em>
    <%= 'application'.pluralize(seller_application_started_count) %> in progress
  </p>

  <h2>Completion of main steps across applications in progress</h2>
  <dl class="chart">
    <% seller_application_performance_report.statistics.each do |key, percent| %>
      <dt>
        <span class="label"><%= key %></span>
      </dt>
      <dd>
        <div class="bar" style="width: <%= percent %>%">
          <span class="label"><%= percent %>%</span>
        </div>
      </dd>
    <% end %>
  </dl>
</section>
