<% if results.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Buyer name</th>
        <th scope="col">Organisation</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% results.each do |result| %>
      <tr>
        <td><%= result.id %></td>
        <td><%= result.name %></td>
        <td><%= result.organisation %></td>
        <td><%= result.state %></td>
        <td class="actions">
          <%= link_to 'View', ops_buyer_path(result) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render partial: 'ops/shared/no_records_message', locals: local_assigns.slice(:search) %>
<% end %>
