<% content_for :title, 'Resend instructions to confirm your account' %>

<section class="view-user-confirmations-new">
  <h1><%= content_for :title %></h1>

  <p>If you did not receive an email to confirm your account, or if the one-time
    link has expired, we can send a new link to your email address.</p>

  <%= buy_nsw_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :email, autocomplete: "email",
                              value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                              label: t('users.sessions.sign_in.form.email_label') %>

    <fieldset class="actions">
      <%= f.submit "Send instructions" %>
    </fieldset>
  <% end %>
</section>
