<% content_for :title, 'Resend confirmation instructions' %>

<h2><%= content_for :title %></h2>

<%= buy_nsw_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, autocomplete: "email",
                            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                            label: t('users.sessions.sign_in.form.email_label') %>

  <fieldset class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </fieldset>
<% end %>
