<fieldset class="actions">
  <% if operation['result.ready_for_submission'].present? %>
    <section class="detail-review">
      <%= t('buyers.applications.steps.terms.intro_html') %>
      <dl>
        <dt><%= t('activemodel.attributes.buyers.buyer_application.contract.basic_details.name') %></dt>
        <dd><%= operation['model.buyer'].name %></dd>

        <dt><%= t('activemodel.attributes.buyers.buyer_application.contract.basic_details.organisation') %></dt>
        <dd><%= operation['model.buyer'].organisation %></dd>

        <dt><%= t('buyers.applications.steps.email_approval.long') %></dt>
        <dd><%= operation['model.application'].application_body %></dd>

        <dt><%= t('buyers.applications.steps.employment_status.long') %></dt>
        <dd><%= operation['model.buyer'].employment_status.text %></dd>

        <% if operation['model.application'].requires_manager_approval? %>
          <dt><%= t('buyers.applications.steps.manager_approval.long') %></dt>
          <dd>
            <%= operation['model.application'].manager_name %>&mdash;
            <%= operation['model.application'].manager_email %>
          </dd>
        <% end %>

      </dl>

    </section>
    <%= f.submit 'Submit application' %>
  <% else %>
    <p>Please complete all other steps before submitting your buyer application.</p>
  <% end %>
</fieldset>
