<fieldset class="actions">
  <% if operation['result.ready_for_submission'].present? %>
    <section class="detail-review">
      <%= t('buyers.applications.steps.terms.intro_html') %>
      <dl>
        <dt><%= t('activemodel.attributes.buyers.buyer_application.contract.basic_details.name') %></dt>
        <dd><%= operation[:buyer_model].name %></dd>

        <dt><%= t('activemodel.attributes.buyers.buyer_application.contract.basic_details.organisation') %></dt>
        <dd><%= operation[:buyer_model].organisation %></dd>

        <dt><%= t('buyers.applications.steps.email_approval.long') %></dt>
        <dd><%= operation[:application_model].application_body %></dd>

        <dt><%= t('buyers.applications.steps.employment_status.long') %></dt>
        <dd><%= operation[:buyer_model].employment_status.text %></dd>

        <% if operation[:application_model].requires_manager_approval? %>
          <dt><%= t('buyers.applications.steps.manager_approval.long') %></dt>
          <dd>
            <%= operation[:application_model].manager_name %>&mdash;
            <%= operation[:application_model].manager_email %>
          </dd>
        <% end %>

      </dl>

    </section>
    <%= f.submit 'Submit application' %>
  <% else %>
    <p>Please complete all other steps before submitting your buyer application.</p>
  <% end %>
</fieldset>
