<h1><%= form.current_step_presenter.name(:long) %></h1>

<%= buy_nsw_form_for form, url: buyers_application_path(application), as: :buyer_application do |f| %>
  <%= display_block_errors(f) %>
  <%= render partial: form.current_step_presenter.key, locals: { f: f, operation: operation } %>
  <%= hidden_field_tag :step, form.current_step_presenter.slug %>
<% end %>
