<% content_for(:ops_content) do %>
  <section class="view-ops-buyer-applications-show">
    <div class="column-set">
      <aside>
        <h1>
          <span class="type">Buyer application</span>
          <%= application.buyer.name %>
        </h1>
        <nav class="vertical">
          <ul>
            <%= nav_link_to 'Application', ops_buyer_application_path(application), icon: 'ellipses' %>
            <%= nav_link_to 'Buyer details', buyer_details_ops_buyer_application_path(application), icon: 'spreadsheet' %>
          </ul>
        </nav>
      </aside>

      <div class="current-view">
        <%= content_for?(:buyer_application_content) ? yield(:buyer_application_content) : yield %>
      </div>
    </div>
  </section>
<% end %>

<%= render template: 'layouts/ops' %>
