<% content_for(:buyer_application_content) do %>
  <section class="status-overview">
    <div class="status-indicator">
      <span>Status</span>
      <%= application.state %>
    </div>
    <div class="assigned-to">
      <span>Assigned to</span>
      <% if application.assigned_to.present? %>
        <%= application.assigned_to.email %>
      <% else %>
        nobody
      <% end %>
    </div>
  </section>

  <section class="application-details">
    <dl>
      <% if application.submitted_at.present? %>
        <dt>Submitted by</dt>
        <dd><%= application.user.email %></dd>
        <dt>Submitted at</dt>
        <dd><%= application.submitted_at.localtime.to_formatted_s(:long) %></dd>
      <% end %>
    </dl>
  </section>

  <section class="make-assignment" data-module="collapsible-section">
    <h2>Assign this application to a user</h2>

    <div class="inner">
      <%= render partial: 'assign_form', locals: { form: forms[:assign] } %>
    </div>
  </section>

  <% if application.may_approve? && application.assigned_to == current_user %>
    <section class="make-decision" data-module="collapsible-section">
      <h2>Make a decision on this application</h2>

      <div class="inner">
        <%= render partial: 'decision_form', locals: { form: forms[:decide] } %>
      </div>
    </section>
  <% end %>
<% end %>
