<ul class="filters">
  <%= form_tag '', method: :get, enforce_utf8: false do %>
    <% search.available_filters.each do |key, options| %>
      <li class="filter">
        <h3><%= t("#{base_i18n_key}.search.filters.#{key}.name") %></h3>
        <ul class="options">
          <% options.each do |option| %>
            <li>
              <%= check_box_tag "#{key}[]", option, search.filter_selected?(key, option), id: "#{key}_#{option}" %>
              <%= label_tag "#{key}_#{option}" do %>
                <%= t("#{base_i18n_key}.search.filters.#{key}.options.#{option}") %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>

    <%= hidden_field_tag :q, search.term %>
    <%= submit_tag 'Apply filters', name: nil, class: 'btn btn-primary' %>
  <% end %>
</ul>
