<div class="search-form">
  <%= buy_nsw_form_for :search, method: :get, enforce_utf8: false do |f| %>
    <%= f.label :q do %>
      <h1>Search results for <span class="visually-hidden"><%= search.term %></span></h1>
    <% end %>

    <div class="input-group">
      <%= f.text_field :q, value: search.term, name: 'q', class: 'form-control', hide_label: true %>
      <%= f.submit 'Search', name: nil, class: nil %>
    </div>
  <% end %>
</div>
