<% content_for :title, 'Your account' %>

<%= render partial: 'shared/zxcvbn' %>
<section class="view-edit-account">
  <header>
    <h2><%= content_for :title %></h2>
  </header>

  <%= reform_form_for(resource, as: resource_name, url: account_path, i18n_scope: 'users.registrations.edit', html: { method: :put }) do |f| %>
    <fieldset>
      <%= f.input :email, autocomplete: "email" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </fieldset>

    <fieldset>
      <div data-module="password-strength">
        <%= f.input :password, autocomplete: "off" %>
      </div>

      <%= f.input :password_confirmation, autocomplete: "off" %>
    </fieldset>

    <fieldset class="actions">
      <%= f.input :current_password, autocomplete: "off" %>

      <p><%= f.submit "Update account details" %></p>
    </fieldset>
  <% end %>
</section>
