<% content_for(:without_container, true) %>
<% content_for(:seller_application_class, 'view-sellers-products-edit') %>

<% content_for(:seller_breadcrumb) do %>
  <%= link_to 'Your cloud products', sellers_application_products_path(application) %> &rarr; <%= operation[:product_model].name || 'Your product details' %>
<% end %>

<% content_for(:steps) do %>
  <%= render partial: 'sellers/applications/shared/step_list', locals: { operation: operation } %>
<% end %>

<% content_for(:current_step) do %>
  <%= content_for?(:content) ? yield(:content) : yield %>
<% end %>

<% content_for(:step_container_header) do %>
  <h1><%= product.name %></h1>

  <div class="product-actions">
    <%= link_to 'Delete this product', sellers_application_product_path(application, product),
                          method: :delete,
                          data: {
                            confirm: 'Are you sure?'
                          },
                          class: 'delete-action' %>
  </div>
<% end %>

<%= render template: 'sellers/applications/shared/_layout' %>
