<dl id="company-details">
  <h2>Company details</h2>
  <% if authorized_buyer %>
  <dt>Authorised representative</dt>
  <dd>
    <%= seller.representative_name %><br>
    <%= tel_to seller.representative_phone, "data-module" => "track-outbound-link" %><br>
    <%= mail_to seller.representative_email, seller.representative_email, "data-module" => "track-outbound-link" %>
  </dd>
  <% end %>

  <dt>ABN</dt>
  <dd><%= link_to formatted_abn(seller.abn), abn_lookup_url(seller.abn) %></dd>

  <% if authorized_buyer %>
  <dt>Location</td>
  <dd>
    <ul class="addresses">
      <% seller.addresses.each do |address| %>
        <li>
          <%= address.address %><br>
          <%= address.suburb %><br>
          <%= address.state_text %> <%= address.postcode %>
        </li>
      <% end %>
    </ul>
  </dd>
  <% end %>

  <% if seller.accreditations.any? %>
  <dt>Accreditations</dt>
  <dd>
    <ul>
      <% seller.accreditations.each do |item| %>
        <li><%= item.accreditation %></li>
      <% end %>
    </ul>
  </dd>
  <% end %>

  <% if seller.engagements.any? %>
  <dt>Industry engagement</dt>
  <dd>
    <ul>
      <% seller.engagements.each do |item| %>
        <li><%= item.engagement %></li>
      <% end %>
    </ul>
  </dd>
  <% end %>
</dl>
