<% content_for :title, seller.name %>

<% if current_user.nil? %>
<div class="alert alert-secondary" role="alert">
  To see the full seller profile,
  <%= link_to 'create a buyer account', registration_path(type: :buyer) %>, or
  <%= link_to 'sign in', new_user_session_path %>.
</div>
<% elsif current_user.buyer.nil? || current_user.buyer.inactive? %>
<div class="alert alert-secondary" role="alert">
  To see the full seller profile you need to be an approved buyer
</div>
<% end %>

<section class="view-sellers-profiles">
  <h1><%= content_for :title %></h1>
  <div class="tags"><%= seller_profile_tags(seller) %></div>

  <div class="intro">
    <div class="summary">
      <%= simple_format seller.summary %>
    </div>
    <div class="actions">
      <a href="" class="btn-dark">See all products</a>
      <a href="" class="btn-primary">Contact seller</a>
    </div>
  </div>

  <div class="profile-container">
    <div class="contents-container">
      <div class="contents">
        <h3>On this page</h3>
        <ol>
          <li><%= link_to 'Company details', '#company-details' %></li>
          <% if seller.awards.any? %>
            <li><%= link_to 'Recognition', '#recognition' %></li>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="profile">
      <%= render 'basic_details' %>
      <%= render 'company_details' %>
      <%= render 'recognition' %>
    </div>
</section>
