<% unless local_assigns[:hide_header] %>
  <h1><%= operation['result.step'].name(:long) %></h1>
<% end %>

<%= bootstrap_form_for(form,
                        url: form_path,
                        as: :seller_application) do |f| %>

  <%= render partial: operation['result.step'].key, locals: { f: f, operation: operation } %>

  <% unless local_assigns[:skip_button] %>
    <fieldset class="actions">
      <%= f.submit operation['result.step'].button_label(default: 'Save and continue'), class: 'btn btn-primary' %>
    </fieldset>
  <% end %>

  <%= hidden_field_tag :step, operation['result.step'].slug %>
<% end %>
