<%= t('sellers.applications.tailor.steps.services.intro_html') %>

<fieldset class="multiple-choice-group checkbox-group">

  <div class="form-group <%= error_class_for(f, :services) %>">
    <%= hidden_field_tag "application[services][]" %>
    <% Seller.services.options.each do |(label, value)| %>
      <%= f.check_box "services", { multiple: true, include_hidden: false }, value do %>
        <%= label %>
        <small class="form-text text-muted"><%= service_description_text(value) %></small>
      <% end %>
    <% end %>
  </div>

</fieldset>
