<li class="document">
  <h3><%= t("ops.seller_applications.fields.#{key}.name", default: key) %></h3>

  <% if application.seller.send(key).present? %>
    <p>
      <% if local_assigns[:no_expiry] %>
        Document date:
      <% else %>
        Expiry date:
      <% end %>

      <%= application.seller.send("#{key}_expiry").strftime('%d %b %Y') %>
      (<%= time_ago_in_words(application.seller.send("#{key}_expiry")) %> <%= application.seller.send("#{key}_expiry") > Time.now ? 'from now' : 'ago' %>)
    </p>
  <% end %>

  <% if (upload = application.seller.send(key)) && upload.present? %>
    <p>
      <%= link_to upload.url, class: 'btn btn-primary' do %>
        View document (<%= upload.file.extension.upcase %>, <%= upload.size / 1000 %>KB)
      <% end %>
    </p>
  <% else %>
    <p>Not yet provided.</p>
  <% end %>
</li>
