<div class="filters">
  <h2>Filter results</h2>

  <%= form_tag '', method: :get, enforce_utf8: false do %>
    <ul class="filters">
      <% search.available_filters.each do |key, options| %>
        <li class="filter">
          <%= label_tag key do %>
            <%= t("ops.seller_applications.search.filters.#{key}.name") %>
            <%= select_tag key, options_for_select(prepare_filter_options(:seller_applications, key, options), search.selected_filters[key]), class: 'form-control' %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= submit_tag 'Apply filters', name: nil, class: 'btn btn-primary' %>
  <% end %>
</div>
