<div class="interim-message">
  <p>To get started, browse:</p>

  <ul>
    <li><%= link_to 'cloud software and applications', pathway_search_path('applications-software') %></li>
    <li><%= link_to 'hosting and infrastructure', pathway_search_path('hosting-infrastructure') %></li>
  </ul>

  <p>Or <%= link_to root_path do %>return to the <strong>buy.nsw</strong> homepage<% end %> for more options.</p>

  <div class="statistics">
    <h2>Our sellers so far</h3>

    <div class="statistic">
      <em class="big-number">
        <%= SellerVersion.for_review.count %>
      </em> in review
    </div>
    <div class="statistic">
      <em class="big-number">
        <%= SellerVersion.approved.count %>
      </em> approved
    </div>
  </div>

  <p>If you can't see what you need check back soon, or tell us what you'd like to see more of by emailing <%= mail_to 'buy.nsw@finance.nsw.gov.au' %></p>

  <p>We're always happy to hear from our buyers and sellers.</p>

</div>
