<% content_for :title, 'All sellers' %>

<section class="view-sellers-search">
  <h1><%= content_for :title %></h1>

  <div class="search-results">
    <%= render partial: 'shared/search/filters', locals: { search: search, base_i18n_key: :sellers } %>

    <ul class="results">
      <%= render partial: 'shared/search/result_count', locals: { search: search, object: 'seller' } %>

      <% search.paginated_results.each do |seller| %>
        <%= render partial: 'result', locals: { seller: seller } %>
      <% end %>
    </ul>

    <div class="search-pagination">
      <%= paginate search.paginated_results %>
    </div>
  </div>
</section>
