<%= buy_nsw_form_for :waiting_sellers, url: invite_ops_waiting_sellers_path, method: :get do |f| %>

<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%">Invite?</th>
      <th scope="col" style="width: 30%;">Name</th>
      <th scope="col" style="width: 30%;">Contact name</th>
      <th scope="col" style="width: 15%;">Invitation status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% results.each do |seller| %>
      <tr>
        <td class="invite-check-box">
          <%= f.input :ids, as: :boolean, label: 'Invite', checked_value: seller.id.to_s, unchecked_value: nil, input_html: { name: 'invite[ids][]', disabled: !seller.invitable? } %>
        </td>
        <th scope="row"><%= seller.name %></th>
        <td><%= seller.contact_name %></td>
        <td><%= seller.invitation_state %></td>
        <td class="actions">
          <% if seller.editable? %>
            <%= link_to 'Edit', edit_ops_waiting_seller_path(seller) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= f.submit 'Invite sellers' %>

<% end %>
