<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 30%;">Name</th>
      <th scope="col" style="width: 30%;">Contact name</th>
      <th scope="col" style="width: 15%;">Invitation status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% results.each do |seller| %>
      <tr>
        <th scope="row"><%= seller.name %></th>
        <td><%= seller.contact_name %></td>
        <td><%= seller.invitation_state %></td>
        <td class="actions">
          <%= link_to 'Edit', edit_ops_waiting_seller_path(seller) %>
          <%= link_to 'Send invitation', edit_ops_waiting_seller_path(seller) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
