<h2>Change your password</h2>

<%= buy_nsw_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.input :password, autocomplete: "off" %>
  <%= f.input :password_confirmation, autocomplete: "off" %>

  <fieldset class="actions">
    <%= f.submit "Change my password" %>
  </fieldset>
<% end %>
