<section class="view-user-passwords-new">
  <% content_for :title, 'Forgot your password?' %>

  <h1><%= content_for :title %></h1>

  <p>We will send a one-time link to your email address, which you can use to reset your password.</p>

  <%= buy_nsw_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.input :email, autocomplete: "email",
                        label: t('users.sessions.sign_in.form.email_label') %>

    <fieldset class="actions">
      <%= f.submit "Send instructions" %>
    </fieldset>
  <% end %>
</section>
