<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">
  <%= f.input certification, as: :radio_buttons, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.input "#{certification}_accreditor" %>
    <%= f.input "#{certification}_date", as: :text_field_date, wrapper: :text_field_date %>

    <% if certification == :csa_star %>
      <fieldset class="multiple-choice-group radio-group">
        <%= f.input :csa_star_level, as: :radio_buttons, collection: Product.csa_star_level.options %>
      </fieldset>
    <% end %>

    <div data-module="max-word-count" data-max-word-count="200">
      <%= f.input "#{certification}_exclusions", as: :text, input_html: { rows: 5 } %>
    </div>
  </div>
</fieldset>
