<section class="view-sellers-search">
  <h1><%= t("enumerize.product.section.#{section}") %></h1>

  <%= render partial: 'shared/search/form', locals: { search: search } %>

  <div class="search-results">
    <%= render partial: 'shared/search/filters', locals: { search: search, base_i18n_key: :products } %>

    <ul class="results">
      <%= render partial: 'shared/search/result_count', locals: { search: search, object: 'product' } %>

      <% search.paginated_results.each do |product| %>
        <%= render partial: 'result', locals: { product: product } %>
      <% end %>
    </ul>

    <div class="search-pagination">
      <%= render partial: 'shared/search/pagination', locals: { search: search } %>
    </div>
  </div>
</section>
