<%= f.text_field :name %>

<div data-module="max-word-count" data-max-word-count="200">
  <%= f.text_area :summary, rows: 8 %>
</div>

<fieldset class="multiple-choice-group checkbox-group with-enterprise-field"
          data-module="further-details-fields"
          data-further-details-values="other">
  <legend>Select up to 3 groups of buyers who would be most interested in your product or service?</legend>
  <%= f.collection_check_boxes(:audiences, Product.audiences.options, :last, :first, skip_label: true, data: { further_details: 'input' }) %>
</fieldset>

<%= render partial: 'sellers/applications/products/forms/shared/expanding_list', locals: {
  form: f,
  association: :features,
  field: :feature,
  i18n_base: 'activemodel.attributes.sellers.seller_application.products.contract.basics.features',
} %>

<%= render partial: 'sellers/applications/products/forms/shared/expanding_list', locals: {
  form: f,
  association: :benefits,
  field: :benefit,
  i18n_base: 'activemodel.attributes.sellers.seller_application.products.contract.basics.benefits',
} %>

<fieldset class="multiple-choice-group checkbox-group"
          data-module="further-details-fields"
          data-further-details-values="no-extras,extra-support,extra-features-support">

  <legend>Is this product or service your own, or are you reselling?</legend>
  <%= f.collection_radio_buttons(:reseller_type, Product.reseller_type.options, :last, :first, skip_label: true, data: { further_details: 'input' }) %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.text_field :organisation_resold %>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">

  <legend>If potential buyers have questions, who should they contact?</legend>

  <%= f.form_group :custom_contact do %>
    <%= f.radio_button :custom_contact, 'false', data: { further_details: 'input' } %>
    <%= f.radio_button :custom_contact, 'true', data: { further_details: 'input' } %>
  <% end %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.text_field :contact_name %>
    <%= f.text_field :contact_email %>
    <%= f.text_field :contact_phone %>
  </div>
</fieldset>
