<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">
  <%= f.input :free_version, as: :radio_buttons, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <div data-module="max-word-count" data-max-word-count="200">
      <%= f.input :free_version_details, as: :text, input_html: { rows: 5 } %>
    </div>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">
  <%= f.input :free_trial, as: :radio_buttons, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.input :free_trial_url %>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group" data-module="further-details-fields" data-further-details-values="other">
  <%= f.input :pricing_currency, as: :radio_buttons, wrapper: false, collection: Product.pricing_currency.options, input_html: { data: { further_details: 'input' } } %>
  <div class="additional-fields" data-further-details="fields">
    <%= f.input :pricing_currency_other %>
  </div>
</fieldset>

<fieldset>
  <%= f.input :pricing_unit %>
  <%= f.input :pricing_min %>
  <%= f.input :pricing_max %>
  <%= f.input :pricing_calculator_url %>
</fieldset>

<%= f.input :pricing_variables, as: :text, input_html: { rows: 5 } %>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">

  <%= f.input :education_pricing, as: :radio_buttons, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.input :education_pricing_eligibility, as: :text, input_html: { rows: 3 } %>
    <%= f.input :education_pricing_differences, as: :text, input_html: { rows: 3 } %>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">

  <%= f.input :not_for_profit_pricing, as: :radio_buttons, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.input :not_for_profit_pricing_eligibility, as: :text, input_html: { rows: 3 } %>
    <%= f.input :not_for_profit_pricing_differences, as: :text, input_html: { rows: 3 } %>
  </div>
</fieldset>
