<fieldset class="multiple-choice-group checkbox-group"
          data-module="further-details-fields"
          data-further-details-values="other">

  <legend><%= t('activemodel.attributes.sellers.seller_application.products.contract.data_protection.encryption_transit_user_types') %></legend>
  <%= f.collection_check_boxes(:encryption_transit_user_types, Product.encryption_transit_user_types.options, :last, :first, skip_label: true, data: { further_details: 'input' }) %>

  <div class="additional-fields" data-further-details="fields">
    <div data-module="max-word-count" data-max-word-count="100">
      <%= f.text_area :encryption_transit_user_other, rows: 5 %>
    </div>
  </div>
</fieldset>

<fieldset class="multiple-choice-group checkbox-group"
          data-module="further-details-fields"
          data-further-details-values="other">

  <legend><%= t('activemodel.attributes.sellers.seller_application.products.contract.data_protection.encryption_transit_network_types') %></legend>
  <%= f.collection_check_boxes(:encryption_transit_network_types, Product.encryption_transit_network_types.options, :last, :first, skip_label: true, data: { further_details: 'input' }) %>

  <div class="additional-fields" data-further-details="fields">
    <div data-module="max-word-count" data-max-word-count="100">
      <%= f.text_area :encryption_transit_network_other, rows: 5 %>
    </div>
  </div>
</fieldset>

<fieldset class="multiple-choice-group checkbox-group"
          data-module="further-details-fields"
          data-further-details-values="other">

  <legend><%= t('activemodel.attributes.sellers.seller_application.products.contract.data_protection.encryption_rest_types') %></legend>
  <%= f.collection_check_boxes(:encryption_rest_types, Product.encryption_rest_types.options, :last, :first, skip_label: true, data: { further_details: 'input' }) %>

  <div class="additional-fields" data-further-details="fields">
    <div data-module="max-word-count" data-max-word-count="100">
      <%= f.text_area :encryption_rest_other, rows: 5 %>
    </div>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group">

  <legend><%= t('activemodel.attributes.sellers.seller_application.products.contract.data_protection.encryption_keys_controller') %></legend>
  <%= f.collection_radio_buttons(:encryption_keys_controller, Product.encryption_keys_controller.options, :last, :first, skip_label: true, data: { further_details: 'input' }) %>
</fieldset>
