<fieldset class="multiple-choice-group checkbox-group"
          data-module="further-details-fields"
          data-further-details-values="other-cloud">
  <%= f.input :deployment_model, as: :check_boxes, collection: Product.deployment_model.options, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <div data-module="max-word-count" data-max-word-count="50">
      <%= f.input :deployment_model_other, as: :text, input_html: { rows: 3 } %>
    </div>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="yes,yes-and-standalone">

  <%= f.input :addon_extension_type, as: :radio_buttons, collection: Product.addon_extension_type.options, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <div data-module="max-word-count" data-max-word-count="50">
      <%= f.input :addon_extension_details, as: :text, input_html: { rows: 3 } %>
    </div>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="rest,non-rest">

  <%= f.input :api, as: :radio_buttons, collection: Product.api.options, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <div data-module="max-word-count" data-max-word-count="50">
      <%= f.input :api_capabilities, as: :text, input_html: { rows: 3 } %>
    </div>
    <div data-module="max-word-count" data-max-word-count="50">
      <%= f.input :api_automation, as: :text, input_html: { rows: 3 } %>
    </div>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="other">

  <%= f.input :government_network_type, as: :check_boxes, collection: Product.government_network_type.options, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.input :government_network_other %>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">

  <%= f.input :web_interface, as: :radio_buttons, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <div data-module="max-word-count" data-max-word-count="200">
      <%= f.input :web_interface_details, as: :text, input_html: { rows: 5 } %>
    </div>

    <%= f.input :supported_browsers, as: :check_boxes, collection: Product.supported_browsers.options %>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">

  <%= f.input :mobile_devices, as: :radio_buttons, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <div data-module="max-word-count" data-max-word-count="50">
      <%= f.input :mobile_desktop_differences, as: :text, input_html: { rows: 5 } %>
    </div>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">

  <%= f.input :installed_application, as: :radio_buttons, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <fieldset class="multiple-choice-group checkbox-group"
              data-module="further-details-fields"
              data-further-details-values="other">
      <%= f.input :supported_os, as: :check_boxes, collection: Product.supported_os.options, input_html: { data: { further_details: 'input' } } %>

      <div class="additional-fields" data-further-details="fields">
        <div data-module="max-word-count" data-max-word-count="50">
          <%= f.input :supported_os_other, as: :text, input_html: { rows: 5 } %>
        </div>
      </div>
    </fieldset>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="exclusions">
  <%= f.input :accessibility_type, as: :radio_buttons, collection: Product.accessibility_type.options, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <div data-module="max-word-count" data-max-word-count="50">
      <%= f.input :accessibility_exclusions, as: :text, input_html: { rows: 5 } %>
    </div>
  </div>
</fieldset>

<%= f.input :scaling_type, as: :radio_buttons, collection: Product.scaling_type.options, input_html: { data: { further_details: 'input' } } %>
