<fieldset class="multiple-choice-group checkbox-group"
          data-module="further-details-fields"
          data-further-details-values="other">

  <legend><%= t('activemodel.attributes.sellers.seller_application.products.contract.user_data.data_import_formats') %></legend>
  <%= f.collection_check_boxes(:data_import_formats, Product.data_import_formats.options, :last, :first, skip_label: true, data: { further_details: 'input' }) %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.text_area :data_import_formats_other, rows: 3 %>
  </div>
</fieldset>

<fieldset class="multiple-choice-group checkbox-group"
          data-module="further-details-fields"
          data-further-details-values="other">

  <legend><%= t('activemodel.attributes.sellers.seller_application.products.contract.user_data.data_export_formats') %></legend>
  <%= f.collection_check_boxes(:data_export_formats, Product.data_export_formats.options, :last, :first, skip_label: true, data: { further_details: 'input' }) %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.text_area :data_export_formats_other, rows: 3 %>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-multiple-options="true">

  <legend><%= t('activemodel.attributes.sellers.seller_application.products.contract.user_data.data_access_restrictions.question') %></legend>

  <%= f.form_group :data_access_restrictions do %>
    <%= f.radio_button :data_access_restrictions, 'true', data: { further_details: 'input' } %>
    <%= f.radio_button :data_access_restrictions, 'false', data: { further_details: 'input' } %>
  <% end %>

  <div class="additional-fields" data-further-details="fields" data-further-details-value="true">
    <%= f.text_area :data_access_restrictions_details, rows: 5 %>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group">

  <legend><%= t('activemodel.attributes.sellers.seller_application.products.contract.user_data.audit_information.question') %></legend>

  <%= f.form_group :audit_information do %>
    <%= f.radio_button :audit_information, 'true' %>
    <%= f.radio_button :audit_information, 'false' %>
  <% end %>
</fieldset>

<fieldset>
  <%= f.text_field :audit_storage_period %>
  <%= f.text_field :log_storage_period %>
</fieldset>
