<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">
  <%= f.input :virtualisation, as: :radio_buttons, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <fieldset class="multiple-choice-group checkbox-group"
              data-module="further-details-fields"
              data-further-details-values="third-party">
      <%= f.input :virtualisation_implementor, as: :radio_buttons, collection: Product.virtualisation_implementor.options, input_html: { data: { further_details: 'input' } } %>

      <div class="additional-fields" data-further-details="fields">
        <%= f.input :virtualisation_third_party %>
      </div>
    </fieldset>


    <fieldset class="multiple-choice-group checkbox-group"
              data-module="further-details-fields"
              data-further-details-values="other">

      <legend><%= t('activemodel.attributes.sellers.seller_application.products.contract.user_separation.virtualisation_technologies') %></legend>
      <%= f.input :virtualisation_technologies, as: :radio_buttons, collection: Product.virtualisation_technologies.options, input_html: { data: { further_details: 'input' } } %>

      <div class="additional-fields" data-further-details="fields">
        <div data-module="max-word-count" data-max-word-count="100">
          <%= f.input :virtualisation_technologies_other, as: :text, input_html: { rows: 5 } %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div data-module="max-word-count" data-max-word-count="100">
        <%= f.input :user_separation_details, as: :text, input_html: { rows: 5 } %>
      </div>
    </fieldset>
  </div>
</fieldset>
