<fieldset class="multiple-choice-group checkbox-group"
          data-module="further-details-fields"
          data-further-details-values="other">
  <%= f.input :data_import_formats, as: :check_boxes, collection: Product.data_import_formats.options, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.input :data_import_formats_other, as: :text, input_html: { rows: 3 } %>
  </div>
</fieldset>

<fieldset class="multiple-choice-group checkbox-group"
          data-module="further-details-fields"
          data-further-details-values="other">
  <%= f.input :data_export_formats, as: :check_boxes, collection: Product.data_export_formats.options, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.input :data_export_formats_other, as: :text, input_html: { rows: 3 } %>
  </div>
</fieldset>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-multiple-options="true">

  <%= f.input :data_access_restrictions, as: :radio_buttons, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields" data-further-details-value="true">
    <%= f.input :data_access_restrictions_details, as: :text, input_html: { rows: 5 } %>
  </div>
</fieldset>

<%= f.input :audit_information, as: :radio_buttons, input_html: { data: { further_details: 'input' } } %>

<fieldset>
  <%= f.input :audit_storage_period %>
  <%= f.input :log_storage_period %>
</fieldset>

<fieldset>
  <%= f.input :data_disposal_approach, as: :text, input_html: { rows: 5 } %>
</fieldset>
