<fieldset class="file-upload">
  <legend><%= t("activemodel.attributes.sellers.seller_application.documents.contract.documents.#{key}") %></legend>
  <p><%= t("activerecord.help.sellers/seller_application/documents/contract/documents.#{key}") %></p>

  <% if (upload = f.object.upload_for(key)) && file_attached?(upload) %>
    <div class="current-document">
      <h3>Currently uploaded file:</h3>

      <span class="icon" aria-hidden="true"></span>
      <div class="file">
        <span class="file-name"><%= upload.original_filename %></span>

        <% if file_clean?(upload) %>
          <div class="download-action">
            <%= link_to 'Download file', upload.document.url %>
          </div>
        <% else %>
          <span class="scan-status">
            <%= upload.scan_status_text %>
          </span>
        <% end %>
      </div>

      <%= f.file_field "#{key}_file", help: false, label: 'Replace this file' %>
    </div>
  <% else %>
    <%= f.file_field "#{key}_file", help: false, label: 'Upload a file' %>
  <% end %>

  <%= date_field_from_value f, "#{key}_expiry", f.object.send("#{key}_expiry") %>

  <small class="form-text text-muted">
    <%= t("activerecord.help.sellers/seller_application/documents/contract/documents.#{key}_expiry") %>
  </small>
</fieldset>
