<fieldset class="file-upload">
  <legend><%= t("activemodel.attributes.sellers.seller_application.documents.contract.documents.#{key}") %></legend>
  <p><%= t("activerecord.help.sellers/seller_application/documents/contract/documents.#{key}") %></p>

  <% if (upload = f.object.upload_for(key)) && upload&.url.present? %>
    <div class="current-document">
      Your current uploaded file:
      <div class="file">
        <span class="icon" aria-hidden="true"></span>
        <%= link_to upload.file.filename, upload.url %>
      </div>
    </div>
  <% end %>

  <%= f.file_field key, help: false, label: (upload&.url.present? ? 'Replace this file' : 'Upload a file') %>
  <%= date_field_from_value f, "#{key}_expiry", f.object.send("#{key}_expiry") %>

  <small class="form-text text-muted">
    <%= t("activerecord.help.sellers/seller_application/documents/contract/documents.#{key}_expiry") %>
  </small>
</fieldset>
