<section class="view-static-content">
  <h1>Buyer guide</h1>

  <h2>What is buy.nsw</h2>

  <p><strong>buy.nsw</strong> is a NSW Government procurement platform for cloud products and services.</p>

  <p>The platform launched on 31 May 2018. Over time it will grow to include more ICT and non-ICT procurement pathways.</p>

  <p>At the moment, it provides a seller hub for cloud and sellers featured on the GovDC Marketplace.</p>

  <p>The use of <strong>buy.nsw</strong> is voluntary but it is an agile program that is being built with its users in mind, so the more you use it and give us feedback the better your experience will be.</p>

  <h2>How buy.nsw relates to the ICT Services Scheme</h2>

  <p><strong>buy.nsw</strong> is a pathway for sellers to apply to sell to NSW Government and showcase their cloud products and services.</p>

  <p>Sellers profiles are available to all <strong>buy.nsw</strong> visitors, with greater depth of information for logged in buyers.</p>

  <h3>buy.nsw is currently restricted to cloud products and services</h3>

  <p>Cloud products and services is the first category of ICT to be streamlined. This means that there is a single standard to qualify as a seller of cloud products and services.</p>

  <p>Sellers on buy.nsw are on the ICT Services Scheme</p>

  <p>We’re progressively making changes to the ICT Services Scheme.</p>

  <p>They’ve been reflected first for cloud, including:</p>
  <ul>
    <li>a single class of sellers for cloud (no ‘base’ and ‘advanced’ lists)</li>
    <li>sellers need to show they have insurance, but it are not required to comply with a minimum threshold</li>
    <li>buyers must ensure the insurance cover of their selected seller is appropriate at the time of purchase</li>
    <li>sellers are not required to provide references for cloud products</li>
  </ul>

  <p>All sellers of cloud products and services on the ICT Service Scheme are prequalified to join <strong>buy.nsw</strong>. They still need to apply to join to accept the <strong>buy.nsw</strong> terms and share additional information.</p>

  <p>Other businesses on the ICT Services Scheme will be progressively invited to join <strong>buy.nsw</strong> as additional ICT procurement pathways are added to the platform.</p>

  <p>Businesses who are not on the ICT Services Scheme, and who offer cloud products and services, can also
  <%= link_to registration_path('seller') do %>
  apply to join <strong>buy.nsw</strong>
  <% end %>.
  </p>

  <h2>Who can be a buyer</h2>

  <p>We’re building <strong>buy.nsw</strong> for NSW Government and for the NSW community.</p>

  <p>
    If you work in NSW Government you can
    <%= link_to 'sign up as a buyer now', registration_path('buyer') %>.
  </p>

  <p>If you work for another NSW organisation, such as a school, university, a charity or another not-for-profit group you may also be able to sign up.</p>

  <p>
    Before signing up check the current list of
    <%= link_to 'non-government eligible buyers', 'https://www.procurepoint.nsw.gov.au/documents/nsw-procurement-eligible-buyer-list-non-government-organisations.xlsx' %> (XLSX, 675 KB).
    If your organisation appears in the list you can
    <%= link_to 'sign up as a buyer', registration_path('buyer') %>.
  </p>

  <p>
    If not, you will need to apply for eligible buyer status by completing
    <%= link_to 'this online application', 'http://news.procurepoint.nsw.gov.au/survey.php?sid=16239&name=nsw-eligible-buyer-application-nswbuy-number' %>.
    Once approved you can sign up as a buyer.
  </p>

  <h2>About our sellers</h2>

  <p>Standardised seller information is available to you as a logged in buyer so you can perform your own due diligence on the sellers you wish to engage.</p>

  <p>All sellers have created a profile with a wealth of information on their business, products and services as well as details of their achievements, financials and insurance.</p>

  <p>When sellers are apply to join <strong>buy.nsw</strong> we check their ABN, key corporate details and disclosures.</p>

  <p>We don’t check their financials, product descriptions or verify other details such as accreditations and awards.</p>

  <p>Sellers curate their profiles to add additional information or correct information that’s out of date.</p>

  <p>We also prompt them periodically to update expired documents and information.</p>

  <h2>How to buy cloud products and services on buy.nsw</h2>

  <p>You should be able to show a clear audit trail for any contract you award through <strong>buy.nsw</strong>.</p>

  <p>You should keep your own record of your communications with sellers, including any emails and conversations you have.</p>

  <h3>Step 1. Write a list of your requirements and get approval to buy</h3>

  <p>Work with experts and people who will use the product or service to prepare a list of ‘must-haves’ and ‘wants’, before getting approval to buy.</p>

  <p>You should also:</p>
  <ul>
  <li>involve people with risk management and technical security expertise in the buying process </li>
  <li>make sure a product or service meets your security requirements before you sign a contract </li>
  </ul>

  <h3>Step 2. Search for services</h3>

  <p>Use <strong>buy.nsw</strong> to search for cloud products or services that meet your needs.</p>

  <h3>Step 3. Refine your search</h3>

  <p>If you need to, use filters and keywords to refine the results of your search. The filters should be based on your requirements.</p>

  <h3>Step 4. Review and compare services</h3>

  <p>Spend some time going through the descriptions to find the option that best meet your needs based on both requirements and budget.</p>

  <p>The price shown on the service description page is the cost of the most common configuration of the service. However, pricing can vary significantly based on options a seller provides.</p>

  <h3>You can contact sellers if you have questions</h3>

  <p>You can speak to sellers to ask them to explain their service description, terms and conditions, options and pricing.</p>

  <p>Some sellers may also have pricing calculators to give a clear indication of the price you will be charged.</p>

  <h3>Step 5. Awarding a contract</h3>

  <p>
    When you buy products and services through <strong>buy.nsw</strong>, you must be fair, open and transparent. To learn how,
    <%= link_to 'read the ProcurePoint guidance on buying fairly' %>.
  </p>

  <p>Before purchasing, check your organisation’s policy about the number of quotes you need.</p>

  <p>Products are priced on <strong>buy.nsw</strong>, meaning you already have access to a basic quote. If an estimated cost is not clear you can also contact sellers for a quote based on your requirements.</p>

  <p>When you have made your decision you can purchase by clicking the ‘buy product’ button on the product page. You will be asked to share some information in order to generate an agreement. Depending on your organisation’s approval requirements this can be signed and sent to a seller, or appended to an internal workflow.</p>

  <h2>Help make <strong>buy.nsw</strong> even better</h2>

  <p>
    <strong>buy.nsw</strong> is being developed to meet user needs. This means always being open to feedback as well as ongoing user research with our buyers and sellers. If you’d like to take part in user research to help ensure buy.nsw meets your needs please get email us at
    <%= link_to 'ictprocurementreform@finance.nsw.gov.au' %>.
  </p>

  <p>Last updated 30 May 2018.</p>
</section>
