<% content_for :body_classes, 'with-big-header' %>
<% content_for :without_container, true %>

<div class="container main-title">
  <div class="row">
    <h1>Australia's first government marketplace for cloud</h1>
  </div>
</div>

<section class="view-static-index">
  <div class="container">
    <div class="audiences">
      <h2>What you can do now</h2>

      <% unless feature_flag_hide_buyer_pathway %>
      <section class="feature half-width">
        <div class="inner">
          <h1>Buyers</h1>
          <h2>Buy applications and software</h2>
          <p>Cloud applications and software that you can access over the internet.</p>
          <%= link_to 'Find applications and software', pathway_search_path('applications-software'), class: 'action' %>
        </div>
      </section>

      <section class="feature half-width">
        <div class="inner">
          <h1>Buyers</h1>
          <h2>Buy hosting and infrastructure</h2>
          <p>Hosting and infrastructure services to help you deploy, manage and run software.</p>
          <%= link_to 'Find hosting and infrastructure', pathway_search_path('hosting-infrastructure'), class: 'action' %>
        </div>
      </section>
      <% end %>

      <section class="feature full-width">
        <div class="inner">
          <h1>Buyers</h1>

          <h2>Apply to buy cloud software, hosting, infrastructure and support.</h2>
          <p>You can create a buyer account if you're a NSW Government employee or an employee of <a href="https://www.procurepoint.nsw.gov.au/before-you-buy/buyer-eligibility-and-registration">another eligible organisation</a>.</p>
          <p>
            <%= link_to registration_path('buyer'), class: 'action' do %>
              Apply now <span aria-hidden="true">&gt;</span>
            <% end %>
          </p>
        </div>
      </section>

      <section class="feature full-width">
        <div class="inner">
          <h1>Sellers</h1>

          <h2>Apply to sell cloud software, hosting, infrastructure and support.</h2>
          <p>It's quick and simple to offer your cloud products or services to NSW Government.</p>
          <p>
            <%= link_to registration_path('seller'), class: 'action' do %>
              Apply now <span aria-hidden="true">&gt;</span>
            <% end %>
          </p>
        </div>
      </section>

      <% unless feature_flag_hide_buyer_pathway %>
      <div class="feature full-width">
        <div class="inner">
          <h1>Search for approved sellers</h1>
          <p>Search the seller catalogue by seller name, or by the service you need.</p>
          <%= render partial: 'inline_search_form' %>
        </div>
      </div>
      <% end %>

      <div class="feature full-width">
        <div class="inner">
          <h1>Join the buy.nsw community</h1>
          <p>If you're a buyer or seller you're invited to join <strong>buy.nsw</strong> and be a part of the journey as we transform procurement in NSW.</p>
          <%= render partial: 'mailing_list_signup_form' %>
        </div>
      </div>
    </div>
  </div>
</section>
