<% content_for :body_classes, 'with-big-header' %>
<% content_for :without_container, true %>
<% content_for :skip_header_title, true %>
<% content_for :extra_header_content do %>
  <div class="container">
    <div class="main-title">
      <h1 class="site-title">buy.nsw</h1>
      <p class="subtitle">Simplifying procurement, starting with cloud</p>
    </div>
  </div>
<% end %>

<section class="view-static-homepage">
  <div class="container">
    <div class="needs">
      <div class="buy">
        <h2>Buy cloud products and services</h2>

        <ul>
          <li>
            <%= link_to 'Buy cloud applications and software', pathway_search_path('applications-software'), class: 'action' %>
            eg. accounting tools or customer management software
          </li>
          <li>
            <%= link_to 'Buy hosting and infrastructure', pathway_search_path('hosting-infrastructure'), class: 'action' %>
            eg. website hosting and load balancing services
          </li>
          <li>
            <%= link_to 'Buy physical data centre space and services', '', class: 'action' %>
            Buy space and support services in Government Data Centres (GovDC)
          </li>
          <li>
            <%= link_to 'Browse approved sellers', sellers_search_path, class: 'action' %>
            See the businesses behind our products and services
          </li>
          <li>
            <%= link_to 'Read the buyer guide', guides_buyer_path, class: 'action' %>
            Learn who can be a buyer and how to buy
          </li>
        </ul>
      </div>
      <div class="sell">
        <h2>Sell services</h2>
        <ul>
          <li>
            <%= link_to 'Apply to sell cloud products and services', registration_path('seller'), class: 'action' %>
          </li>
          <li>
            <div class="coming-soon">
              <p>Apply to sell other ICT services – coming soon.</p>
              <p>To stay up to date with changes <%= link_to 'join our mailing list', join_mailing_list_path %></p>
            </div>
          </li>
          <li>
            <%= link_to 'Read the seller guide', guides_seller_path, class: 'action' %>
            Learn how to apply and sell products and services
          </li>
        </ul>
      </div>
    </div>

    <div class="updates">
      <header>
        <h2>Latest updates</h2>
      </header>
      <div class="update-list">
        <ol>
          <li>
            <%= link_to 'Introducing buy.nsw', 'https://www.digital.nsw.gov.au/blog/introducing-buynsw' %>
            <div class="metadata">
              <span>Blog post</span>
              <span class="date">31 May 2018</span>
            </div>
          </li>
          <li>
            <%= link_to 'Introducing buy.nsw', 'https://www.digital.nsw.gov.au/blog/introducing-buynsw' %>
            <div class="metadata">
              <span>Blog post</span>
              <span class="date">31 May 2018</span>
            </div>
          </li>
          <li>
            <%= link_to 'Introducing buy.nsw', 'https://www.digital.nsw.gov.au/blog/introducing-buynsw' %>
            <div class="metadata">
              <span>Blog post</span>
              <span class="date">31 May 2018</span>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
