<% content_for :body_classes, 'with-big-header' %>
<% content_for :without_container, true %>
<% content_for :skip_header_title, true %>
<% content_for :extra_header_content do %>
  <div class="container">
    <div class="main-title">
      <h1 class="site-title">buy.nsw</h1>
      <h2 class="subtitle">Simplifying procurement, starting with cloud</h2>
    </div>
  </div>
<% end %>

<section class="view-static-homepage">
  <div class="container">
    <div class="needs">
      <div class="buy">
        <h2>Buy cloud products and services</h2>

        <ul>
          <li>
            <%= link_to 'Buy cloud applications and software', pathway_search_path('applications-software'), class: 'action' %>
            eg. accounting tools or customer management software
          </li>
          <li>
            <%= link_to 'Buy hosting and infrastructure', pathway_search_path('hosting-infrastructure'), class: 'action' %>
            eg. website hosting and load balancing services
          </li>
          <li>
            <%= link_to 'Buy physical data centre space', '', class: 'action' %>
            eg. space in the GovDC data centre
          </li>
          <li>
            <%= link_to 'Read the buyer guide', '', class: 'action' %>
            Learn who can be a buyer and how to buy
          </li>
        </ul>
      </div>
      <div class="sell">
        <h2>Sell services</h2>
        <ul>
          <li>
            <%= link_to 'Apply to sell cloud products and services', registration_path('seller'), class: 'action' %>
          </li>
          <li>
            <div class="coming-soon">
              Apply to sell other ICT services – coming soon
            </div>
          </li>
          <li>
            <%= link_to 'Read the seller guide', '', class: 'action' %>
            Learn how to apply and sell products and services
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
