<% content_for :title, 'What can we help you with?' %>

<section class="view-static-content">
  <h1><%= content_for :title %></h1>

  <h2>Getting started</h2>

  <p>If you haven’t already, please take a moment to read our <%= link_to 'buyer guide', guides_buyer_path %> or <%= link_to 'seller guide', guides_seller_path %>.</p>

  <p>If you have any questions about getting started email us at <%= mail_to 'buy.nsw@finance.nsw.gov.au' %></p>

  <h2>Media enquiries</h2>

  <p>Please contact Corporate Communications, NSW Department of Finance, Services and Innovation <%= mail_to 'cc@finance.nsw.gov.au' %></p>

  <h2>All other enquiries</h2>

  <p>Please contact ICT Procurement Transformation, NSW Department of Finance, Services and Innovation <%= mail_to 'buy.nsw@finance.nsw.gov.au' %></p>
</section>
