<% content_for :title, 'Seller guide' %>

<section class="view-static-content">
  <h1><%= content_for :title %></h1>

  <h2>What is buy.nsw</h2>

  <p><strong>buy.nsw</strong> is a NSW Government procurement platform for cloud products and services.</p>

  <p>
    The platform launched on 31 May 2018. Over time it will grow to include more ICT and non-ICT procurement pathways. To stay up to date <%= link_to 'register your interest', join_mailing_list_path %>.
  </p>

  <h2>Who can be a seller</h2>

  <p>
    We are now accepting applications from sellers providing cloud products and services. If this is you,
    <%= link_to 'apply to be a seller now', registration_path('seller') %>.
  </p>

  <p>All sellers on <strong>buy.nsw</strong> are on the ICT Services Scheme</p>

  <p>All sellers of cloud products and services on the ICT Service Scheme are prequalified to join <strong>buy.nsw</strong>. You still need to apply in order to accept the <strong>buy.nsw</strong> terms and share additional information.</p>

  <p>Other businesses on the ICT Services Scheme will be progressively invited to join <strong>buy.nsw</strong> as additional ICT procurement pathways are added to the platform.</p>

  <p>
    Businesses who are not on the ICT Services Scheme, and who offer cloud products and services, can also
    <%= link_to registration_path('seller') do %>
      apply to join <strong>buy.nsw</strong>
    <% end %>.
    Once approved your business will be on the ICT Service Scheme for cloud products and services, but you will have to wait to onboard this way if you provide other ICT products or services.
  </p>

  <h2>Work together on your application</h2>

  <p>Once you’ve created a seller account you can complete your seller profile — which is also your application to join <strong>buy.nsw</strong>.</p>

  <p>You can invite different members of your team to help complete the application. You will need
  someone who can enter contracts on behalf of your company to agree to the Core Terms and submit the application.</p>

  <p>The information you submit in your application is used to create your seller profile. Most information is published, some is only available to logged in buyers, as set out in our <%= link_to 'terms of use', terms_of_use_path %>.</p>

  <h2>How we assess applications</h2>

  <p>We’ve kept the assessments simple. In essence we want to know:</p>

  <ul>
    <li>You have an ABN and it matches your business name</li>
    <li>What you have to offer is of interest to our buyers and relevant to <strong>buy.nsw</strong></li>
    <li>You have uploaded current documentation to allow buyers to perform due diligence</li>
    <li>Your business is suitable based on your disclosures or following investigation based on your disclosures</li>
  </ul>

  <h2>How long do assessments take</h2>

  <p>We will typically get back to you within 10 business days with the result of the assessment, or to let you know how your application is progressing. Assessment times may vary depending on demand.</p>

  <h2>Once approved, your business is listed automatically</h2>

  <p>If you’re approved, we’ll let you know by email. At this time your seller profile, plus any products and services will appear in the /cloud catalogue on <strong>buy.nsw</strong>.</p>

  <h2>What to do if you have questions</h2>

  <p>
    If you have any questions you can contact us at
    <%= link_to 'buy.nsw@finance.nsw.gov.au' %>.
  </p>

  <h2>Help make buy.nsw even better</h2>

  <p>
    <strong>buy.nsw</strong> is being developed to meet user needs. This means always being open to feedback as well as ongoing user research with our buyers and sellers. If you’d like to take part in user research to help ensure <strong>buy.nsw</strong> meets your needs please get email us at
    <%= link_to 'buy.nsw@finance.nsw.gov.au' %>.
  </p>
</section>
