<div class="container">
  <aside class="problem-report-container" data-module="problem-report"
          data-problem-report-label="<%= t('feedback.problem_report.label') %>"
          data-problem-report-error="<%= t('feedback.problem_report.messages.error') %>"
          data-problem-report-invalid="<%= t('feedback.problem_report.messages.invalid') %>">
    <div class="problem-report-link"></div>
    <%= buy_nsw_form_for :problem_report, url: feedback_problem_reports_path do |f| %>
      <h1><%= t('feedback.problem_report.title') %></h1>
      <%= f.input :task, input_html: { name: 'task' }, label: t('feedback.problem_report.task') %>
      <%= f.input :issue, input_html: { name: 'issue' }, label: t('feedback.problem_report.issue') %>

      <% if user_signed_in? %>
        <p>Your details (<%= current_user.email %>) will be included in the report.</p>
      <% end %>

      <%= f.submit t('feedback.problem_report.action') %>
    <% end %>
    <div class="problem-report-response"></div>
  </aside>
</div>
