<% content_for :title, t('users.sessions.sign_up.title') + " / " + t('users.sessions.sign_in.title') %>

<section class="view-user-sessions-new">
  <section class="registration">
    <header>
      <h1><%= t('users.sessions.sign_up.title') %></h1>
    </header>

    <ul class="accounts">
      <li class="buyer-account">
        <%= t('users.sessions.sign_up.buyers.body_html') %>
        <p><%= link_to t('users.sessions.sign_up.buyers.button_label'), registration_path('buyer'), class: 'action' %></p>
      </li>
      <li class="seller-account">
        <%= t('users.sessions.sign_up.sellers.body_html') %>
        <p><%= link_to t('users.sessions.sign_up.sellers.button_label'), registration_path('seller'), class: 'action' %></p>
      </li>
    </ul>
  </section>

  <section class="sign-in-form">
    <header>
      <h1><%= t('users.sessions.sign_in.title') %></h1>
      <%= t('users.sessions.sign_in.help.body_html',
        forgotten_password: link_to(
          t('users.sessions.sign_in.help.forgotten_password_label'),
          new_password_path(resource_name)
        ),
        confirmation_email: link_to(
          t('users.sessions.sign_in.help.confirmation_email_label'),
          new_confirmation_path(resource_name)
        )
      ) %>
    </header>

    <%= reform_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email, autocomplete: "email",
                          label: t('users.sessions.sign_in.form.email_label') %>
      <%= f.input :password, autocomplete: "off",
                             label: t('users.sessions.sign_in.form.password_label')%>

      <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, as: :boolean,
                                  label: t('users.sessions.sign_in.form.remember_me_label') %>
      <% end -%>

      <fieldset class="actions">
        <%= f.submit t('users.sessions.sign_in.form.submit_label') %>
      </fieldset>
    <% end %>
  </section>
</section>
