<section class="view-ops-root">
  <header class="view-header">
    <h1>Dashboard</h1>
  </header>

  <ul class="dashboard-sections">
    <li>
      <%= link_to ops_seller_applications_path do %>
        <span class="big-number"><%= seller_applications_for_review_count %></span>
        <%= 'seller application'.pluralize(seller_applications_for_review_count) %> for review
      <% end %>
    </li>
    <li>
      <%= link_to ops_seller_applications_path(assigned_to: current_user.id) do %>
        <span class="big-number"><%= assigned_seller_applications_for_review_count %></span>
        <%= 'seller application'.pluralize(seller_applications_for_review_count) %> assigned to you
      <% end %>
    </li>
    <li>
      <%= link_to ops_buyer_applications_path do %>
        <span class="big-number"><%= buyer_applications_for_review_count %></span>
        <%= 'buyer application'.pluralize(buyer_applications_for_review_count) %> for review
      <% end %>
    </li>
    <li>
      <%= link_to ops_buyer_applications_path(assigned_to: current_user.id) do %>
        <span class="big-number"><%= assigned_buyer_applications_for_review_count %></span>
        <%= 'buyer application'.pluralize(buyer_applications_for_review_count) %> assigned to you
      <% end %>
    </li>
  </ul>
</section>
