<div class="basics">
  <div class="summary">
    <dl>
      <% if product.is_reselling? %>
        <dt>Made by:</dt>
        <dd><%= product.organisation_resold %>
      <% end %>
      <dt>For:</dt>
      <dd>
        <ul>
          <% product.audiences.texts.each do |audience| %>
            <li><%= audience %>
          <% end %>
        </ul>
      </dd>
    </dl>
    <%= simpler_format product.summary %>

    <% if product.features.any? || product.benefits.any? %>
      <div class="product-section features-benefits">
        <% if product.features.any? %>
        <ul>
          <h2>Features</h2>
          <% product.features.each do |feature| %>
            <li><%= feature.feature %></li>
          <% end %>
        </ul>
        <% end %>

        <% if product.benefits.any? %>
        <ul>
          <h2>Benefits</h2>
          <% product.benefits.each do |benefit| %>
            <li><%= benefit.benefit %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    <% end %>

    <dl>
      <% if product.free_version? %>
        <dt>Free version details</dt>
        <dd><%= simpler_format product.free_version_details %></dd>
      <% end %>
      <% if product.free_trial? %>
        <dt>Free trial available</dt>
        <dd><%= link_to product.free_trial_url, product.free_trial_url %></dd>
      <% end %>
      <dt>Minimum price</dt>
      <dd><%= product.formatted_pricing_min %> <%= product.pricing_unit %></dd>
      <dt>Maximum price</dt>
      <dd><%= product.formatted_pricing_max %> <%= product.pricing_unit %></dd>
      <% if product.pricing_calculator_url.present? || product.pricing_variables.present? %>
        <% if product.pricing_calculator_url.present? %>
          <dt>Pricing calculator</dt>
          <dd><%= link_to product.pricing_calculator_url, product.pricing_calculator_url %></dd>
        <% end %>

        <dt>Variables affecting pricing</dt>
        <dd>
          <%= simpler_format product.pricing_variables %>
        </dd>
      <% end %>
      <% if product.education_pricing? %>
        <dt>Education pricing</dt>
        <dd>
          <dl class="nested">
            <dt>Eligibility</dt>
            <dd><%= simpler_format product.education_pricing_eligibility %></dd>
            <dt>Pricing differences</dt>
            <dd><%= simpler_format product.education_pricing_differences %></dd>
          </dl>
        </dd>
      <% end %>
      <% if product.not_for_profit_pricing? %>
        <dt>Not-for-profit pricing</dt>
        <dd>
          <dl class="nested">
            <dt>Eligibility</dt>
            <dd><%= simpler_format product.not_for_profit_pricing_eligibility %></dd>
            <dt>Pricing differences</dt>
            <dd><%= simpler_format product.not_for_profit_pricing_differences %></dd>
          </dl>
        </dd>
      <% end %>
    </dl>
  </div>

  <div class="actions">
    <dl class="product-metadata">
      <dt>Product ID</dt>
      <dd><%= product.id %></dd>
    </dl>

    <%= render partial: 'buy_product', locals: { product: product } %>
    <%= render partial: 'additional_terms', locals: { product: product } %>

    <div class="contact">
      <h2>Contact</h2>
      <div class="vcard">
        <span class="fn"><%= product.contact_name %></span>
        <span class="email"><%= mail_to product.contact_email, product.contact_email, "data-module" => "track-outbound-link" %></span>
        <% if product.contact_phone.present? %>
          <span class="tel"><%= tel_to product.contact_phone, "data-module" => "track-outbound-link" %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
