<% content_for :title, product.name %>

<section class="view-pathways-products-show">
  <header class="with-seller-details">
    <h1><%= content_for :title %></h1>
    <div class="seller">
      by <%= link_to product.seller.name, sellers_profile_path(product.seller) %>
      <% if product.is_reselling? %>
        <ul class="tags">
          <li>Reseller</li>
        </ul>
      <% end %>
    </div>
  </header>

  <%= render partial: 'basics', locals: { product: product } %>

  <div class="profile-container">
    <div class="contents-container">
      <div class="contents">
        <h3>On this page</h3>
        <ol>
          <% product.details.keys.each do |key| %>
            <li><%= link_to key, "##{key.parameterize}" %></li>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="profile">
      <% product.details.each do |heading, details| %>
        <dl id="<%= heading.parameterize %>">
          <h2><%= heading %></h2>
          <% details.each do |key, value| %>
            <%= product_field(key, value) %>
          <% end %>
        </dl>
      <% end %>
    </div>
</section>
