<%= f.text_field :name %>
<%= f.text_field :abn %>
<%= f.text_area :summary, rows: 5 %>
<%= f.text_field :website_url %>
<%= f.text_field :linkedin_url %>


<fieldset class="multiple-child-objects with-nested-blocks" data-module="expanding-list" data-object-name="address">
  <legend class="with-label">Your business address</legend>

  <ol>
  <%= f.fields_for :addresses do |a| %>
    <li>
      <%= a.text_field :address %>
      <%= a.text_field :suburb %>
      <%= a.collection_select :state, SellerAddress.state.options, :last, :first, include_blank: true %>
      <%= a.text_field :postcode %>
      <%= a.hidden_field :id %>
    </li>
  <% end %>
  </ol>
</fieldset>
