<fieldset>
  <legend>Business contact name</legend>

  <p class="hint">This is the contact listed on your seller profile page and the person who receives new opportunities by email.</p>

  <%= f.text_field :contact_name %>
  <%= f.text_field :contact_email %>
  <%= f.text_field :contact_phone %>
</fieldset>

<fieldset>
  <legend>Authorised representative</legend>

  <p class="hint-text">This is the person authorised to enter into contracts on behalf of the business.</p>
  <%= f.text_field :representative_name %>
  <%= f.text_field :representative_email %>
  <%= f.text_field :representative_phone %>
</fieldset>
