<p>These responses are only visible on your profile to logged in buyers. We will prompt you to update responses to this section annually.</p>

<p>If you answer ‘yes’ to any question, you will not automatically be disqualified, however our assessors may contact you to request more information.</p>

<%= render partial: 'further_details', locals: { f: f, field: :structural_changes } %>
<%= render partial: 'further_details', locals: { f: f, field: :investigations } %>
<%= render partial: 'further_details', locals: { f: f, field: :legal_proceedings } %>
<%= render partial: 'further_details', locals: { f: f, field: :insurance_claims } %>
<%= render partial: 'further_details', locals: { f: f, field: :conflicts_of_interest } %>
<%= render partial: 'further_details', locals: { f: f, field: :other_circumstances } %>
