<p>These responses are not visible on your profile but may be provided to buyers who are considering awarding you a contract.</p>

<p>Please note, answering ‘yes’ to any question will not automatically disqualify you from the Digital Marketplace, however our assessors may contact you to request more information.</p>

<%= render partial: 'further_details', locals: { f: f, field: :structural_changes } %>
<%= render partial: 'further_details', locals: { f: f, field: :investigations } %>
<%= render partial: 'further_details', locals: { f: f, field: :legal_proceedings } %>
<%= render partial: 'further_details', locals: { f: f, field: :insurance_claims } %>
<%= render partial: 'further_details', locals: { f: f, field: :conflicts_of_interest } %>
<%= render partial: 'further_details', locals: { f: f, field: :other_circumstances } %>
