<h1><%= presenter.current_step_name %></h1>

<%= bootstrap_form_for(presenter.current_step_form,
                        url: sellers_application_path(application),
                        scope: :application) do |f| %>

  <%= render partial: presenter.current_step_view_path,
         locals: { f: f, presenter: presenter, application: application } %>

  <% unless presenter.last_step? && ! presenter.ready_for_submission? %>
    <fieldset class="actions">
      <%= f.submit presenter.current_step_button_label(default: 'Save and continue'), class: 'btn btn-primary' %>
    </fieldset>
  <% end %>

  <%= hidden_field_tag :step, presenter.current_step_slug %>
<% end %>
