<fieldset class="multiple-child-objects with-nested-blocks" data-module="expanding-list" data-object-name="address">
  <ol class="addresses">
  <%= f.simple_fields_for :addresses do |a| %>
    <li>
      <%= a.input :address %>
      <%= a.input :suburb %>
      <%= a.input :state, collection: SellerAddress.state.options, include_blank: true %>
      <%= a.input :postcode %>
      <%= a.input :country, collection: ISO3166::Country.translations, label_method: :second, value_method: :first, input_html: { data: { expanding_list_default: 'AU' } } %>
      <%= a.hidden_field :id %>
    </li>
  <% end %>
  </ol>
</fieldset>
