<%= f.input(:number_of_employees, collection: Seller.number_of_employees.options, as: :radio_buttons) %>

<%= f.input(:corporate_structure, collection: Seller.corporate_structure.options, as: :radio_buttons) %>

<p>The following fields are optional but will help buyers find you.</p>

<fieldset class="multiple-choice-group checkbox-group">
  <legend>Business identifiers (optional)</legend>

  <%= f.input :start_up, as: :boolean, wrapper: false %>
  <%= f.input :sme, as: :boolean, wrapper: false %>
  <%= f.input :not_for_profit, as: :boolean, wrapper: false %>
  <%= f.input :australian_owned, as: :boolean, wrapper: false %>
</fieldset>

<fieldset class="multiple-choice-group checkbox-group">
  <legend>Location (optional)</legend>

  <%= f.input :regional, as: :boolean, wrapper: false %>
  <%= f.input :rural_remote, as: :boolean, wrapper: false %>
</fieldset>

<fieldset class="multiple-choice-group checkbox-group">
  <legend>Diversity and inclusion (optional)</legend>

  <%= f.input :indigenous, as: :boolean, wrapper: false %>
  <%= f.input :disability, as: :boolean, wrapper: false %>
  <%= f.input :female_owned, as: :boolean, wrapper: false %>
</fieldset>

<fieldset class="multiple-choice-group checkbox-group">
  <legend>Has your business worked with government before? (optional)</legend>

  <%= f.input :no_experience, as: :boolean, wrapper: false %>
  <%= f.input :local_government_experience, as: :boolean, wrapper: false %>
  <%= f.input :state_government_experience, as: :boolean, wrapper: false %>
  <%= f.input :federal_government_experience, as: :boolean, wrapper: false %>
  <%= f.input :international_government_experience, as: :boolean, wrapper: false %>
</fieldset>
