<fieldset>
  <legend>Business contact name</legend>

  <p class="hint">This is the contact listed on your seller profile and the person who receives communications from us.</p>

  <%= f.input :contact_name %>
  <%= f.input :contact_email %>
  <%= f.input :contact_phone %>
</fieldset>

<fieldset>
  <legend>Authorised representative</legend>

  <p class="hint-text">This is the person authorised to enter into contracts on behalf of your business.</p>
  <%= f.input :representative_name %>
  <%= f.input :representative_email %>
  <%= f.input :representative_phone %>
  <%= f.input :representative_position %>
</fieldset>
