<p>You need to accept the Core Terms to become a seller.</p>

<p>Please note these initial terms will be updated soon. We will let you know when they change, what the changes are, and ask you to agree once more when finalised.</p>

<%= render partial: 'sellers/applications/forms/shared/core_terms' %>

<% if f.object.seller.agree == true %>

  <p>The Core Terms were agreed to at <strong><%= f.object.seller.agreed_at.localtime.to_formatted_s(:long) %></strong><% if f.object.seller.agreed_by.present? %> by <strong><%= f.object.seller.agreed_by.email %></strong><% end %>.</p>
  <p class="return-link">
    <%= link_to 'Return to application', sellers_application_path(application), class: 'btn btn-primary' %>
  </p>

<% elsif operation.success? %>

  <%= f.check_box :agree,
        label: t('activemodel.attributes.sellers.seller_application.contract.declaration.agree_html',
          name: f.object.seller.representative_name,
          organisation: f.object.seller.name,
          abn: f.object.seller.abn) %>

  <fieldset class="actions">
    <%= f.submit step.button_label(default: 'Save and continue'), class: 'btn btn-primary' %>
  </fieldset>

<% else %>

  <p>Only the authorised representative
    <%= f.object.seller.representative_email.present? ? "(#{f.object.seller.representative_email})" : nil %>
    can accept the terms.</p>

  <p class="return-link">
    <%= link_to 'Return to application', sellers_application_path(application), class: 'btn btn-primary' %>
  </p>

<% end %>
