<p>These responses are only visible on your profile to logged in buyers. You must update them if there is change in your business that affects these answers. We will also prompt you to update your responses to this section annually.</p>

<p>If you answer ‘yes’ to any question, you will not automatically be disqualified, however our assessors may contact you to request more information.</p>

<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :receivership } %>
<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :investigations } %>
<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :legal_proceedings } %>
<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :insurance_claims } %>
<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :conflicts_of_interest } %>
<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :other_circumstances } %>
