<p>These disclosures are used in your assessment to join <strong>buy.nsw</strong> and may be provided to buyers on request.</p>
  
<p>You must update them if there is change in your business that affects these answers. We will also ask you to update your responses to this section annually.</p>

<p>If you answer ‘yes’ to any question, you will not automatically be disqualified, however our assessors may contact you to request more information.</p>

<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :receivership } %>
<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :investigations } %>
<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :legal_proceedings } %>
<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :insurance_claims } %>
<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :conflicts_of_interest } %>
<%= render partial: 'sellers/applications/forms/shared/further_details', locals: { f: f, field: :other_circumstances } %>
