<p>This is your opportunity to share some of the things you are proud of. All questions are optional but can help your business attract potential buyers. If you're a start-up you can also list achievements from past roles or business ventures.</p>

<fieldset class="multiple-child-objects with-inline-labels" data-module="expanding-list">
  <legend class="with-label">Accreditations (optional)</legend>
  <small class="form-text text-muted">Does your business have any formal accreditations you want to share?</small>

  <ol>
  <%= f.simple_fields_for :accreditations do |a| %>
    <li>
      <%= a.input :accreditation, label: "#{a.options[:child_index]+1}." %>
      <%= a.hidden_field :id %>
    </li>
  <% end %>
</ol>
</fieldset>

<fieldset class="multiple-child-objects with-inline-labels" data-module="expanding-list">
  <legend class="with-label">Industry engagement (optional)</legend>
  <small class="form-text text-muted">Are you involved in any boards, committees or groups for your industry?</small>

  <ol>
  <%= f.simple_fields_for :engagements do |a| %>
    <li>
      <%= a.input :engagement, label: "#{a.options[:child_index]+1}." %>
      <%= a.hidden_field :id %>
    </li>
  <% end %>
  </ol>
</fieldset>

<fieldset class="multiple-child-objects with-inline-labels" data-module="expanding-list">
  <legend class="with-label">Awards (optional)</legend>
  <small class="form-text text-muted">Has your work been recognised and awarded within your industry or by others?</small>

  <ol>
  <%= f.simple_fields_for :awards do |a| %>
    <li>
      <%= a.input :award, label: "#{a.options[:child_index]+1}." %>
      <%= a.hidden_field :id %>
    </li>
  <% end %>
  </ol>
</fieldset>
