<% if f.object.errors[:eligible_seller].present? %>
  <div class="block-error">
    <h2><%= t('sellers.applications.steps.services.ineligible_header') %></h2>
    <%= t('sellers.applications.steps.services.ineligible_body_html') %>
  </div>
<% else %>
  <%= t('sellers.applications.steps.services.intro_html') %>
<% end %>

<fieldset class="multiple-choice-group radio-group"
          data-module="further-details-fields"
          data-further-details-values="true">

  <%= f.input :offers_cloud, as: :radio_buttons, wrapper: false, input_html: { data: { further_details: 'input' } } %>

  <div class="additional-fields" data-further-details="fields">
    <div class="multiple-choice-group checkbox-group">
      <div class="form-group <%= error_class_for(f, :services) %>">
        <p>You can optionally select additional categories where you provide services.</p>
        <p>This will appear on your profile and make it easier for buyers to find you.</p>

        <%= hidden_field_tag "seller_application[services][]" %>

        <% other_service_options.each do |(label, value)| %>
          <div class="form-check">
            <%= f.check_box "services", { multiple: true,
                                          label: false,
                                          include_hidden: false,
                                          id: "services_#{value}",
                                          aria: {
                                            describedby: "hint_services_#{value}",
                                          },
                                        },
                                        value %>
            <label for="services_<%= value %>"><%= label %></label>
            <small class="form-text text-muted" id="hint_services_<%= value %>"><%= service_description_text(value) %></small>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</fieldset>

<fieldset class="multiple-choice-group radio-group">

  <%= f.input :govdc, as: :radio_buttons %>
</fieldset>
