<% if (upload = f.object.upload_for(field)) && file_attached?(upload) %>
  <div class="current-document">
    <h3>Currently uploaded file:</h3>

    <span class="icon" aria-hidden="true"></span>
    <div class="file">
      <span class="file-name"><%= upload.original_filename %></span>

      <% if file_clean?(upload) %>
        <div class="download-action">
          <%= link_to 'Download file', upload.document.url, target: '_blank' %>
        </div>
      <% else %>
        <span class="scan-status">
          <%= upload.scan_status_text %>
        </span>
      <% end %>
    </div>

    <%= f.file_field "#{field}_file", help: false, label: 'Replace this file' %>
  </div>
<% else %>
  <%= f.file_field "#{field}_file", help: false, label: 'Upload a file' %>
<% end %>
