<li id="<%= key %>" class="card">
  <div class="row">
    <div class="overview">
      <h2><%= t("sellers.applications.#{key}.title") %></h2>
      <%= progress_indicator_for(question_set) %>

      <% unless local_assigns[:skip_button] %>
        <%= link_to question_step_button_label(question_set), send("#{key}_sellers_application_path", application), class: 'action' %>
      <% end %>
    </div>

    <div class="guidance">
      <%= t("sellers.applications.#{key}.guidance_html", default: '') %>
    </div>
  </div>
</li>
