<section class="application-dashboard">
  <aside>
    <h1><%= t('sellers.applications.title') %></h1>
    <%= t('sellers.applications.aside_html') %>

    <%= render partial: 'team', locals: { application: application } %>
  </aside>

  <ul class="cards">
    <% if can_submit_application? %>
      <%= render partial: 'submit', locals: { application: application } %>
    <% end %>
    <%= display_question_set(application, progress_report, :tailor, skip_button: true) %>
    <%= display_question_set(application, progress_report, :contacts) %>
    <%= display_question_set(application, progress_report, :profile) %>
    <%= display_question_set(application, progress_report, :documents) %>
    <%= display_question_set(application, progress_report, :disclosures) %>
    <%= display_question_set(application, progress_report, :legals) %>
    <%= render partial: 'products', locals: { application: application } %>
  </ul>
</section>
