<section class="application-dashboard">
  <aside>
    <h1><%= t('sellers.applications.title') %></h1>
    <%= t('sellers.applications.aside_html') %>
  </aside>

  <ul class="cards">
    <% if can_submit_application? %>
      <%= render partial: 'submit', locals: { application: application } %>
    <% end %>
    <%= display_question_set(application, question_sets, :tailor, skip_button: true) %>
    <%= display_question_set(application, question_sets, :contacts) %>
    <%= display_question_set(application, question_sets, :profile) %>
    <%= display_question_set(application, question_sets, :documents) %>
    <%= display_question_set(application, question_sets, :legals) %>
  </ul>
</section>
