<footer class="global">
  <div class="container">
    <div class="row">
      <ul class="footer-link-list">
        <h3>About buy.nsw</h3>
        <li><%= link_to "The program", 'https://www.digital.nsw.gov.au/support-services/buying-ict/transforming-ict-procurement' %></li>
        <li><%= link_to "Performance dashboard", performance_path %></li>
        <li><%= link_to "digital.nsw blog", 'https://www.digital.nsw.gov.au/blog' %></li>
      </ul>
      <ul class="footer-link-list">
        <h3>Guidance</h3>
        <li><%= link_to "Buyer guide", guides_buyer_path %></li>
        <li><%= link_to "Seller guide", guides_seller_path %></li>
        <li><%= link_to "ProcurePoint", 'https://www.procurepoint.nsw.gov.au/' %></li>
      </ul>
      <ul class="footer-link-list">
        <h3>Help</h3>
        <li><%= link_to "Contact us", contact_path %></li>
      </ul>
    </div>

    <div class="footer-bottom-row">
      <div class="footer-legal">
        <ul>
          <li><%= link_to "Privacy statement", privacy_path %></li>
          <li><%= link_to "Terms of use", terms_of_use_path %></li>
          <li><%= link_to "Accessibility statement", accessibility_path %></li>
          <li><%= link_to "License and attribution", license_path %></li>
        </ul>

        <p class="made-by">
          Built by the <%= link_to 'NSW Department of Finance, Services and Innovation', 'https://www.finance.nsw.gov.au/' %>
        </p>
      </div>
      <div class="footer-logo">
        <%= link_to 'https://www.nsw.gov.au', class: 'nsw-gov-logo' do %>
          <span>NSW Government</span>
        <% end %>
      </div>

      <% if show_development_info %>
        <div class="development-info">
          <%= deployment_env.try(:titleize) %>
          <% if defined?(APP_VERSION) %>
            (<%= link_to APP_VERSION, "https://github.com/hyperealhq/nsw-procurement-hub/commits/#{APP_VERSION}" %>, created <%= time_ago_in_words(APP_VERSION_TIME) %> ago)
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</footer>
