<footer class="global">
  <div class="container">
    <div class="row">
      <div class="footer-left">
        <ul>
          <li><%= link_to "Buyer guide", guides_buyer_path %></li>
          <li><%= link_to "Seller guide", guides_seller_path %></li>
          <li><%= link_to "Contact us", contact_path %></li>
        </ul>
        <% if show_development_info %>
          <%= deployment_env.try(:titleize) %>
          <% if defined?(APP_VERSION) %>
            (<%= link_to 'APP_VERSION', "https://github.com/hyperealhq/nsw-procurement-hub/commits/#{APP_VERSION}" %>, created <%= time_ago_in_words(APP_VERSION_TIME) %> ago)
          <% end %>
        <% end %>
      </div>
      <div class="footer-right">
        <ul>
          <li><%= link_to "Privacy statement", privacy_path %></li>
          <li><%= link_to "Terms of use", terms_of_use_path %></li>
          <li><%= link_to "Accessibility statement", accessibility_path %></li>
          <li><%= link_to "License and attribution", license_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
