<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/google_analytics' %>
    <title>
      <% if content_for :title %>
        <%= title %>: <%= content_for :title %>
      <% else %>
        <%= title %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield(:head_content) %>
  </head>

  <body class="<%= yield(:body_classes) %>">
    <%= render partial: 'layouts/skip_link' %>

    <% unless content_for(:skip_header) %>
    <header role="banner" class="global">
      <div class="container">
        <div class="row">
          <h1 class="logo">
            <%= link_to root_path do %>
              <div class="logo-container">
                <span class="logo">NSW Government</span>
              </div>
              <% unless content_for(:skip_header_title) %>
                <span class="site-title">buy.nsw</span>
              <% end %>
            <% end %>
          </h1>

          <% unless content_for(:skip_user_links) %>
            <%= render partial: 'layouts/user_links' %>
          <% end %>
        </div>
      </div>

      <%= yield(:extra_header_content) %>
    </header>
    <% end %>

    <%= yield(:header) %>

    <%= render partial: 'layouts/notices' %>

    <main id="content" role="main" <% if content_for?(:without_container) %> class="full-width" <% end %>>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <% if content_for(:last_updated) %>
      <%= render partial: 'layouts/last_updated' %>
    <% end %>

    <% unless content_for(:skip_problem_report) %>
      <%= render partial: 'feedback/problem_reports/form' %>
    <% end %>

    <% unless content_for(:skip_footer) %>
      <%= render partial: 'layouts/footer' %>
    <% end %>

    <%= yield(:footer_javascript) %>
  </body>
</html>
