<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/google_analytics' %>
    <title>
      <%= "(#{deployment_env.try(:titleize)})" %> buy.nsw</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= yield(:body_classes) %>">
    <% unless content_for(:skip_header) %>
    <header role="global">
      <div class="container">
        <div class="row">
          <h1>
            <%= link_to root_path do %>
              <div class="logo-container">
                <span class="logo">NSW Government</span>
              </div>
              <span class="site-title">buy.nsw</span>
            <% end %>
          </h1>

          <%= render partial: 'layouts/user_links' %>
        </div>
      </div>

      <%= yield(:extra_header_content) %>
    </header>
    <% end %>

    <%= yield(:header) %>

    <%= render partial: 'layouts/notices' %>

    <main<% unless content_for?(:without_container) %> class="with-container" <% end %>>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <% unless content_for(:skip_footer) %>
      <footer role="global">
        <div class="container">
          <div class="row">
            <div class="footer-left">
              <%= deployment_env.try(:titleize) %>
              <% if defined?(APP_VERSION) %>
                (<%= APP_VERSION %>, created <%= time_ago_in_words(APP_VERSION_TIME) %> ago)
              <% end %>
            </div>
            <div class="footer-links">
              <ul>
                <li><%= link_to "Privacy statement", privacy_path %></li>
                <li><%= link_to "Terms of use", terms_of_use_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    <% end %>
  </body>
</html>
