<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "(#{deployment_env.try(:titleize)})" %> NSW Procurement Hub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header role="global">
      <div class="container">
        <div class="row">
          <h1>
            <%= link_to root_path do %>
              <span class="logo">NSW Government</span>
              <span class="marketplace-title">Procurement</span>
            <% end %>
          </h1>

          <%= render partial: 'layouts/user_links' %>
        </div>
      </div>
    </header>

    <% if notice.present? || alert.present? %>
      <div class="messages">
        <div class="message-container">
          <div class="row">
            <ul>
              <% flash.each do |key, value| %>
                <li><%= value %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <main<% unless content_for?(:without_container) %> class="with-container" <% end %>>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <footer>
      <div class="container">
        <%= deployment_env.try(:titleize) %>
      </div>
    </footer>
  </body>
</html>
