<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/google_analytics' %>
    <title><%= title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= yield(:body_classes) %>">
    <% unless content_for(:skip_header) %>
    <header role="global">
      <div class="container">
        <div class="row">
          <h1>
            <%= link_to root_path do %>
              <div class="logo-container">
                <span class="logo">NSW Government</span>
              </div>
              <span class="site-title">buy.nsw</span>
            <% end %>
          </h1>

          <%= render partial: 'layouts/user_links' %>
        </div>
      </div>

      <%= yield(:extra_header_content) %>
    </header>
    <% end %>

    <%= yield(:header) %>

    <%= render partial: 'layouts/notices' %>

    <main<% unless content_for?(:without_container) %> class="with-container" <% end %>>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <% unless content_for(:skip_footer) %>
      <%= render partial: 'layouts/footer' %>
    <% end %>
  </body>
</html>
