<% content_for(:skip_header, true) %>
<% content_for(:skip_footer, true) %>
<% content_for(:without_container, true) %>
<% content_for(:body_classes, 'ops') %>

<% content_for(:content) do %>
  <div class="column-set">
    <div class="left-col">
      <header class="ops">
        <h1>
          <span class="logo">NSW Government</span>
          <span class="title">Procurement Ops</span>
        </h1>
      </header>

      <nav class="vertical">
        <ul>
          <%= nav_link_to 'Dashboard', ops_root_path, icon: 'grid-three-up' %>
          <%= nav_link_to 'Seller applications', ops_seller_applications_path, icon: 'inbox', match_prefix: true %>
        </ul>
      </nav>

      <footer>
        <p><%= current_user.email %></p>
      </footer>
    </div>

    <div class="right-col">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
