<h1><%= step.name(:long) %></h1>

<%= bootstrap_form_for(form,
                        url: form_path,
                        as: :seller_application) do |f| %>

  <%= render partial: form_partial_path, locals: { f: f, operation: operation } %>

  <% unless local_assigns[:skip_button] %>
    <fieldset class="actions">
      <%= f.submit step.button_label(default: 'Save'), class: 'btn btn-primary' %>

      <p class="skip-link">
        <%= link_to 'Skip and return later', sellers_application_path(application) %>
      </p>
    </fieldset>
  <% end %>

  <%= hidden_field_tag :step, step.slug %>
<% end %>
